
@import url('https://fonts.googleapis.com/css2?family=Open-Sans:wght@300;400;500;700&display=swap');

:root {

    /*button colors*/
    --color-green-outline:    #80C775;
    --color-green-fill:       #E6F4E3;
    --color-red-outline:      #CC7777;
    --color-red-fill:         #F4E3E3;
  
    /* buttons */
    --color-light-blue-fill:  #EFF6FF;
    --color-light-blue-outline: #DBEAFE;
    --color-dark-blue-outline:#2563EB;
    --color-dark-blue-fill:  #B5C5F4;
    --color-light-gray-fill: #F2F4FD;
  
    /* accent */
    --color-star:             #F59E0B;
}

#content {
    padding-top: 40px;
}

html, body {
    font-family: 'Open-Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Open-Sans', sans-serif;
}

.phone {
    position: relative; /* onboarding feature need */
    width: 375px;
    height: 667px;
    max-width: 100vw;
    max-height: 100vh;
    box-shadow: 0 0 0 1px var(--color-icon-gray);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* LAYERING SYSTEM(onboarding needed)*/
@media screen and (min-width: 850px) {
    /* Desktop view */
    .phone {
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;
        margin-left: 25%;
        margin-right: 20%;
    }

    #content {
        padding-top: 0 !important;
    }
}

/* 1. Intro container - highest visible */
#intro-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000; 
    display: none;
    overflow: hidden;
}

/* 2. Onboarding container  */
#onboarding-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9000; /* Higher than app content */
    display: none;
    overflow: hidden;
    pointer-events: none;
}

/* 3. Main app content */
#app {
    position: relative;
    z-index: 1000; 
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    
}